/** Header Main **/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/** General Selectors **/

body {
}

li {
  list-style: none;

}

a {
  text-decoration: none;
  color: #fdfffc;
}


/** Class Selectors **/

.indexname {
  align-self: center;
  font-size: 250px;
  font-weight: 100;
  font-family: Impact;
  color: #fdfffc;
}

.navlinks > ul, .navlinks p {
  background-color: #235789;
  font-size: 20px;
  color: #fdfffc;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: thick double black;
  text-transform: uppercase;
}

.dev {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
  background-color: #161925;
  color: #fdfffc;
  letter-spacing: 20px;
  border-radius: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.mainhead {
  background-color: #161925;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 975px;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #235789;
  border: thick double black;
  padding: 30px;
  border-radius: 10px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;
}

.navname {

}

.skillsmenu {
  display: flex;
  flex-direction: row;

}

.skills {
  color: red;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 200px;
  background-color: #235789;

}

.navbutton a{
  color: red;
}
